<!DOCTYPE html>
<head>
  <title>BrickHack 6</title>
  <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Beer Locator</h1>
  <input type="text">
  <button id="btn">Search</button>
  <ul class="products"></ul>
  <p id="user_loc" style="display: none"></p>
  <script src="/scripts/fetchApi.js"></script>
</body>
</html>
